@model TiendaVirtual.Models.tb_asociado

@{
    ViewBag.Title = "Delete";
    Layout = "~/_MasterPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_asociado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monto_ahorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_ahorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_acceso_aplicacion.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_acceso_aplicacion.contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_estado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_estado.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_persona.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
