@model TiendaVirtual.Models.tb_asociado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_asociado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monto_ahorro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_ahorro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_electronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_estado.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_estado.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_persona.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_persona.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_asociado }) |
    @Html.ActionLink("Ir atras <-", "Index")
</p>
