@model IEnumerable<TiendaVirtual.Models.tb_factura>

@{
    ViewBag.Title = "Listado de Facturas";
}
<div class="jumbotron">
    <h2>Listado de Facturas</h2>
</div>

<p>
    @if (User.IsInRole("admin"))
    {
    @Html.ActionLink("Crear un nuevo Registro", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            Id Factura
        </th>
        <th>
            Costo Total
        </th>
        <th>
            Fecha
        </th>
        <th>
            Usuario
        </th>
        <th>
            
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.id_factura })
            </td>
        </tr>
    }

</table>
