@model IEnumerable<TiendaVirtual.Models.tb_carrito>

@{
    ViewBag.Title = "Carrito de Compra";
}

<h2>Artículos en el Carrito de Compras</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Usuario")
        </th>
        <th>
            @Html.DisplayName("Prodcto")
        </th>
        <th>
            @Html.DisplayName("Precio Unitario")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_carrito_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_producto.nombre_prod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_producto.costo)
        </td>
        <td>
            @Html.ActionLink("Facturar", "Details", new { id=item.id_carrito }) |
            @Html.ActionLink("Eliminar del carrito", "Delete", new { id=item.id_carrito })
        </td>
    </tr>
}

</table>
