@model IEnumerable<TiendaVirtual.Models.tb_carrito>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_asociado.id_persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_estado.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_asociado.id_persona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_estado.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_carrito }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_carrito }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_carrito })
        </td>
    </tr>
}

</table>
