@model IEnumerable<TiendaVirtual.Models.tb_producto>

@{
    ViewBag.Title = "Listado de Productos";
}
<div class="jumbotron">
    <h2>Listado de Productos</h2>
</div>

<p>
    @Html.ActionLink("Crear un nuevo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre del producto")
        </th>
        <th>
            @Html.DisplayName("Costo")
        </th>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_prod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_prod)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_producto }) | 
        </td>
    </tr>
}

</table>
